!!!
%html 
  %head
    %title Danbot
    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css', :type => 'text/css'}
    %script(src="http://rightjs.org/hotlink/right.js")
    %script(src="javascripts/custom.js")
    %body
      .container
        = yield
